<h1>Estimado {{user}} {{lastname}}</h1> 
<p> 
  hemos enviado un correo de confirmación de pedido a {{mail}}  
</p>
  <p>Has solicitado prestado el libro {{bookTitle}}.</p>
  <p>La fecha de inicio del préstamo es {{startDate}} y la fecha de devolución es {{returnDate}}.</p>