{{> navbarRoot}}

<h1>Listado de Libros</h1>
<div class="row">
  {{#each books}}
    <div class="col s12 m6 l4">
      <div class="card horizontal">
        <div class="card-image">
          <img src="/images/book-cover/{{cover}}" alt="{{title}} cover">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">{{bookTitle}}</span>
            <p>Autor: {{bookAuthor}}</p>
            <p>Categoría: {{bookCategory}}</p>
            <p>ISBN: {{bookISBN}}</p>
            <p>Copias disponibles: {{bookQuantity}}</p>
          </div>
          <div class="card-action">
            <a href="/root/edit/{{_id}}">
              <i class="material-icons" 
                style = "display: inline-flex; vertical-align: sub;">edit</i>
              Editar Libro
            </a>
            <a href="javascript: deleteBook('{{_id}}')" class="inline">
              <i class="material-icons" 
                style = "display: inline-flex; vertical-align: sub;">
                delete</i>
              Borrar Libro
            </a>
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <p>No hay libros que listar.</p>
  {{/each}}
</div>