{{> navbarRoot}}

<h1>Listado de Libros</h1>
<form action="/root/listBooks" method="GET" style="display: flex; gap: 10px;">
  <input type="text" name="query" placeholder="Buscar libros por Titulo o Autor o Categoria..." style="padding: 10px; flex-grow: 1;">
  <button type="submit" style="padding: 10px 20px; background-color: #007BFF; color: white; border: none; cursor: pointer;">Buscar</button>
</form>
<div class="row">
  {{#each books}}

<div class="col s12">
        <div class="card teal darken-4">
            <div class="card-content teal-text text-lighten-5">
                <span class="card-title">{{bookTitle}}</span>
                <p>Autor: {{bookAuthor}}</p>
                <p>Categoría: {{bookCategory}}</p>
                <p>ISBN: {{bookISBN}}</p>
                <p>Copias disponibles: {{bookQuantity}}</p>
            </div>
            <div class="card-action">
                <a href="/root/edit/{{_id}}">
                <i class="material-icons" style="display: inline-flex; vertical-align: sub;">edit</i>
                <span>Editar Libro</span>
                </a>
                <a href="javascript: deleteBook('{{_id}}')" class="inline">
                    <i class="material-icons" style="display: inline-flex; vertical-align: sub;">delete</i>
                    Borrar Libro
                </a>
            </div>
        </div>
    </div>
    
  {{else}}
    <p>No hay libros que listar.</p>
  {{/each}}

</div>